<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.birthdayreminder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".BirthdayListActivity"
            android:label="@string/app_name" >
        </activity>
        
        <receiver android:name=".BirthdayAlarmReceiver">
            <intent-filter >
                <action android:name="com.example.CHK_BIRTHDAY"/>
            </intent-filter>
        </receiver>
        <service android:name=".BirthdaySchedulingService">
            <intent-filter >
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.example.CHK_BIRTHDAY"/>
            </intent-filter>
        </service>
    </application>

</manifest>
